.whole-box{
  margin: 70em
}


.char1a{
  transform: rotate(12deg);
  transform-origin: 20% 40%;
}

.char2a{
  transform: rotate(24deg);    
  transform-origin: 20% 40%;
}

.char3a{
  transform: rotate(36deg);
  transform-origin: 20% 40%;

}

.char4a{
  transform: rotate(48deg);    
  transform-origin: 20% 40%;

}

.char5a{
  transform: rotate(60deg);
  transform-origin: 20% 40%;
}

