<div class="whole-box">
<div class="char1a"><p class="char1">Jessica</p></div>
<div class="char2a"><p class="char2">Playground</p></div>
<div class="char3a"><p class="char3">Lucky</p></div>
<div class="char4a"><p class="char4">Computer</p></div>
<div class="char5a"><p class="char5">Mason Jar</p></div>
</div>
